node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
.idea

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

# TernJS port file
.tern-port

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
types

# DS Store
.DS_Store
